@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    flex-direction: column;
}

#niver{
    font-size: 100px;
    font-family: 'Shadows Into Light', cursive;
    color: #fff;
    -webkit-text-stroke: 3px #8400ff;
}

#parabens{
    font-size: 100px;
    font-family: 'Shadows Into Light', cursive;
    color: #fff;
    -webkit-text-stroke: 3px #8400ff;
}

h1{
    font-size: 70px;
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
    cursor: pointer;
    -webkit-text-stroke: 3px #8400ff;
}

img{
    width: 300px;
}

.parabens{
    margin-top: -250px;
    display: none;
    flex-direction: column;
    align-items: center;
}